@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&display=swap');

* {
    --back-black: black;
    --total-black: black;
    --rope-black: black;
    --circle-red: #fe3217;
    --back-red: #dc1237;
    --circle-yellow: #fdf70b;
    --circle-blue: #2e17e4;
    --circle-green: #1c7616;
}

body {
    /*content at center: vertically and horizontally*/
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--back-black);

    /*100vh = 100% of entire visible screen height*/
    height: 100vh;

    /*removing default margin*/
    margin: 0;
}

div {
    font-family: 'Kanit', sans-serif;
    font-size: 54px;
    text-align: center;
    color: white;
    position: absolute;
    width: fit-content;
    background-color: var(--back-red);
    padding-inline-start: 2px;
    padding-inline-end: 12px;
    white-space: nowrap;
    line-height: 1;
    padding-bottom: 100px;
    z-index: -2;

}


div::after {

    content: '';
    position: absolute;
    top: -185%;
    left: -15%;
    width: 32rem;
    height: 30rem;


    clip-path: polygon(59% 60%,
            60.5% 65%,
            61.2% 67%,
            61.4% 67%,
            61.1% 66.9%,
            62% 68.5%,
            63% 69%,
            64% 69.5%,
            65% 70%, 79% 74%,
            81% 76%,
            82% 80%,
            85% 100%,

            50% 100%,

            15% 100%,
            18% 80%,
            19% 76%,
            21% 74%,
            35% 70%,
            36% 69.5%,
            37% 69%,
            38% 68.5%,
            38.9% 66.9%,
            38.6% 67%,
            38.8% 67%,
            39.5% 65%,
            41% 60%);


    background-color: var(--back-black);


}

div::before {
    content: '';
    position: absolute;
    top: -60%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-size: 1rem 1rem;
    background-color: var(--circle-red);

    box-shadow: var(--total-black) 0px 0px 0px 4px,
        var(--circle-yellow) 0px 0px 0px 8px,
        var(--total-black) 0px 0px 0px 12px,
        var(--circle-yellow) 0px 0px 0px 16px,
        var(--total-black) 0px 0px 0px 20px,
        var(--circle-yellow) 0px 0px 0px 24px,
        var(--total-black) 0px 0px 0px 28px,
        var(--circle-blue) 0px 0px 0px 32px,
        var(--total-black) 0px 0px 0px 36px,
        var(--circle-blue) 0px 0px 0px 40px,
        var(--total-black) 0px 0px 0px 44px,
        var(--circle-blue) 0px 0px 0px 48px,
        var(--total-black) 0px 0px 0px 52px,
        var(--circle-red) 0px 0px 0px 56px,
        var(--total-black) 0px 0px 0px 60px,
        var(--circle-red) 0px 0px 0px 64px,
        var(--total-black) 0px 0px 0px 68px,
        var(--circle-red) 0px 0px 0px 72px,
        var(--total-black) 0px 0px 0px 76px,
        var(--circle-green) 0px 0px 0px 80px,
        var(--total-black) 0px 0px 0px 84px,
        var(--circle-green) 0px 0px 0px 88px,
        var(--total-black) 0px 0px 0px 92px,
        var(--circle-green) 0px 0px 0px 96px,
        var(--total-black) 0px 0px 0px 100px,
        var(--circle-green) 0px 0px 0px 104px,
        var(--total-black) 0px 0px 0px 108px;


    z-index: 2;
}

/*


    -webkit-clip-path: polygon(50% 59%, 58% 59%, 62% 67%, 79% 75%, 82% 100%, 50% 100%, 18% 100%, 21% 74%, 39% 67%, 42% 60%);

*/